/* some default styles */
body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

/* Header Styles */
.header {
    background-color: #000;
    color: #fff;
    padding: 20px;
}

.logo {
    font-size: 24px;
}

.nav {
    margin-top: 10px;
}

.nav ul {
    list-style-type: none;
}

.nav ul li {
    display: inline;
    margin-right: 10px;
}

.nav ul li a {
    color: #fff;
    text-decoration: none;
}
